div#views-bootstrap-membros-todos-page-1 img{float:left;margin-right:5px;margin-bottom:12px;}
.col.col-xs-3.col-sm-3.col-md-3.col-lg-3{padding-left:2px;padding-right:2px;padding-bottom:4px;}h2.block-title{font-size:18px;}.more-link.form-group{margin-bottom:20px;float:right;}.well.region.region-sidebar-second{padding-top:0px;}.views-field.views-field-user-picture img{border-radius:30px;}
#edit-mail{width:270px;}input#edit-field-cidade-0-value{width:270px;}input#edit-field-estado-0-value{width:270px;}input#edit-user-picture-0-upload{width:340px;}
.redes-sociais-margem-topo{margin-top:12px}
