#edit-mail{width:250px;}input#edit-field-cidade-0-value{width:250px;}input#edit-field-estado-0-value{width:250px;}input#edit-user-picture-0-upload--J1lBk31Yst4{width:250px;}
.redes-sociais-margem-topo{margin-top:12px}
